body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

a, a:visited {
    color: #008d97;
}

a:hover, a:active {
    color: #2ab4bd;
}

h1, h2, h3 {
    color: dimgray;
    font-weight: bold;
}

.content {
    padding: 40px 15px;
    text-align: center;
}

.container, .tab-content, .tab-pane {
    height: 100%;
}

#map-canvas {
    width: 100%;
    height: 480px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.top {
    vertical-align: top;
}

.nowrap {
    white-space: nowrap;
}

.margin-right {
    margin-right: 0.5em;
}

.margin-bottom {
    margin-bottom: 1em;
}

.margin-top-bottom {
    margin-top: 1em;
    margin-bottom: 1em;
}

.padded {
    margin: 0.5em;
}

.padded-lg {
    margin: 1em;
}

.padded-xl {
    margin: 2em;
}

.border-top {
    border-top: 1pt solid lightgray;
}

.border-bottom {
    border-bottom: 1pt solid lightgray;
}

tr.padded > td {
    padding: 5px;
}

.icon-button {
    font-size: 1.75em;
    color: gray;
}

.gray {
    color: gray;
}

.absolute {
    position: absolute;
}

.scrollable {
    overflow-y: scroll;
    max-height: 90vh;
}

.scrollable-half {
    overflow-y: scroll;
    max-height: 50vh;
}


/*
 * Dashboard styles
 */

.menu-button {
    border: none;
    margin: 1em;
}

table.info-table {
    border-collapse: collapse;
}

table.info-table > th, table.info-table > td {
    padding: 5px;
}


/*
 * Modify bootstrap styles
 */

.badge {
    background: #f4924a !important;
}

.btn-primary, .btn-primary:focus, .btn-primary:active:focus {
    background-color: #008d97;
    border-color: #008d97;
}

.btn-primary:hover, .btn-primary:active  {
    background-color: #2ab4bd;
    border-color: #2ab4bd;
}

.btn-primary:disabled, .btn-primary:hover:disabled {
    background-color: #008d97;
    border-color: #008d97;
    opacity: 50%;
}

.progress-bar {
    background-color: #2ab4bd;
}
