body{padding-top:0px;}
.content{padding:40px 15px;text-align:center;}
html, body, .container, .tab-content, .tab-pane{height:100%;}
#map-canvas{width:100%;height:480px;}

.right {
    float: right;
}

.center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.margin-right {
    margin-right: 0.5em;
}

.padded {
    margin: 0.5em;
}

.padded-lg {
    margin: 1em;
}

.padded-xl {
    margin: 2em;
}

.border-top {
    border-top: 1pt solid lightgray;
}

.border-bottom {
    border-bottom: 1pt solid lightgray;
}

tr.padded > td {
    padding: 5px;
}